:root{
    /* colors */
    --color-primary: #ff5314;
    --color-secondary: #000;
    --color-accent: #fff;
    --color-text: #202529;
    --color-m-white: #f7f9fa;

    /* width pallete */
    --container-full: 100%;
    --container: 90vw;
    --container-half: 50vw;

    /* font pallete */
    --font-mainhead: calc(1.8rem + 1vw);
    --font-navbtn: calc(0.8rem + 0.3vw);
    --font-sechead: calc(1.2rem + 0.7vw); 
    --font-btnhead: calc(0.9rem + 0.6vw);  
    --font-para: calc(0.6rem + 0.5vw);
    --font-para-small: calc(0.5rem + 0.5vw);



    
}


/* responsive screen size 420px */
@media screen and (min-width: 300px) and (max-width: 420px) {
    .card-1:hover .icon {
        padding: 2.5vw 4vw !important;
    }
    .wts {
        width: 40vw !important;
    }
    #allrounder-btn {
        width: 41vw !important;
    }
    #allrounder-btn a {
        font-size: var(--font-para-small) !important;
    }
    .mb-ib {
        width: 12vw !important;
        height: 12vw !important;
    }
    .mb-ib img {
        width: 42px !important;
    }
    .n-box {
        height: 12vw !important;
    }
    #box-1 {
        height: 6vw !important;
    }
    #ftr-left ul li a, #ftr-right ul li a {
        font-size: var(--font-para);
    }
    /* #footer-right {
        gap: 25vw;
    } */
    #ftr-btm-left ul li a i {
        font-size: var(--font-para);
    }
    div#ftr-btm-right p {
        font-size: var(--font-para);
    }
    #namenoman { 
        font-size: var(--font-navbtn);
    }

}



/* responsive screen 375px */
/* @media screen and (min-width: 321px) and (max-width: 375px) {
    .card-1:hover .icon {
        padding: 2vw 4.2vw !important;
    }
    .wts {
        width: 40vw !important;
    }
    #allrounder-btn {
        width: 37vw !important;
    } 
}*/



/* screen responsive 421px and 600px */
@media screen and (min-width: 421px) and (max-width: 575px) {
    .card-1:hover .icon {
        padding: 2vw 4vw !important;
    }
    .wts {
        width: 40vw !important;
    }
    #allrounder-btn {
        width: 35vw !important;
    }
    #allrounder-btn a {
        font-size: var(--font-para-small);
    }
    #box-1 {
        margin-bottom: 1.5vw;
    }
    .my-box {
        margin-top: 10vw;
    }



}


/* Mobile screen responsive 767px */
@media screen and (max-width: 768px) {
    .header-center {
        position: absolute;
        top: 5vw;
        right: 0;
        width: 30%;
        background: var(--color-m-white);
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        z-index: 999;
    }
    .header-center ul {
        flex-direction: column;
        gap: 1vw;
    }
    .hamburger {
        display: block; 
    }
    .header-center ul li a {
        font-size: var(--font-para);
    }
    .header-center.active {
        display: flex; 
    }    
    .header-right {
        display: none;
    }
    #hs-inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .head-inner {
        height: 8vw;
    }
    #hsl {
        width: 100%;
    }
    #hsl p {
        width: 80%;
    }
    #btn-1 {
        padding: 1vw 1vw;
    }
    #icon i {
        font-size: var(--font-para);
    }
    #icon {
        width: 5.3vw;
        height: 5vw;
    }
    #dot {
        width: 2vw;
        height: 2vw;
    }
    #hsr {
        width: 100%;
        margin: 10vw 0 0 0;
    }
    #clr-box-hsr {
        width: 75vw;
        height: 75vw;
    }
    #round-box {
        position: absolute;
        top: 5vw;
        right: 9vw;
        width: 16vw;
        height: 16vw;
    }
    .hs-box {
        width: 8vw;
        height: 8vw;
    }
    .hs-font-size {
        font-size: 3vw;
    }
    #location-aero-top {
        top: 15vw;
        right: 66vw;
    }
    #text-top {
        width: 28vw;
        height: 5vw;
    }
    #hsr-img img {
        width: 67vw;
        bottom: 0vw;
        right: 13vw;
    }
    #text-bottom {
        width: 26vw;
        height: 5vw;
    }
    #location-aero-bottom {
        top: 45vw;
        left: 64vw;
    }
    #sec-1 {
        width: 100%;
        margin: 10vw 0;
    }
    #sec-2-inner h3 {
        font-size: var(--font-btnhead);
    }
    #sec-2-card-inner {
        flex-direction: column;
    }
    .s2ci-card {
        width: 100%;
        height: 60vw;
    }
    .card-1:hover .icon {
        padding: 1.7vw 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #allrounder-btn {
        width: 28vw;
        padding: 3vw 0.5vw 3vw 1.5vw;
    }
    #allrounder-btn a {
        font-size: var(--font-para);
    }
    .btn-width {
        width: 33vw;
    }
    p#card-para, .icon {
        font-size: var(--font-para);
    }
    .cardbtm-icon {
        width: 6vw;
    }
    div#card-hdng h2 {
        font-size: var(--font-btnhead);
    }
    .fa-solid, .fas {
        font-size: var(--font-para);
    }
    .card-1 {
        padding: 5vw;
    }
    #card-num h2 {
        font-size: var(--font-btnhead);
    }
    #sec-3-content {
        flex-direction: column;
    }
    #sec-3-left {
        width: 100%;
        height: 68vw;
    }
    #sec3l-circle {
        width: 80%;
        height: 68vw;
    }
    #sec-3-right {
        width: 100%;
    }
    #sec3l-circle img {
        width: 56.5vw;
    }
    #sec-3-right p {
        font-size: var(--font-para);
    }
    /* .wts {
        width: 23vw !important;
    } */
    #portfolio-card {
        margin-top: 5vw;
    }
    .cards {
        width: 90vw;
        height: 50vw;
    }
    .card1-text {
        height: 10vw;
        font-size: var(--font-navbtn);
    }
    #sec5-card-box {
        flex-wrap: wrap;
    }
    .s5-box-1 {
        width: 90vw;
    }
    .s5-box1-arow {
        display: flex;
        justify-content: flex-end;
    }
    .ara-btn-aero {
        width: 5vw;
        height: 5vw;
    }
    .s5-box-2 {
        width: 44.5vw;
    }
    .s5-box2-img {
        border-radius: 15px;
    }
    .s5-box-3 {
        width: 44.5vw;
    }
    .s5-box2-img img {
        height: 60vw;
    }
    .s5-box2-arow {
        display: flex;
        justify-content: flex-end;
    }
    #s5-box1-text h2 {
        font-size: var(--font-navbtn);
    }
    #s5-box2-text h2 {
        font-size: var(--font-navbtn);
    }
    #sec-6-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .s6b-left {
        width: 100%;
        margin-top: 5vw;
    }
    .s6b-right {
        width: 100%;
        margin-top: 7vw;
    }
    .fname, .lname {
        width: 100%;
    }
    .message {
        width: 100%;
    }
    #box-1 {
        height: 2.5vw;
    }
    .s6b-left p {
        font-size: var(--font-para);
    }
    .s6b-left p {
        padding: 0;
    }
    .content-box {
        padding-top: 2vw;
    }
    .mb-ib {
        width: 8vw;
        height: 8vw;
    }
    .mb-ib img {
        width: 67px;
    }
    #footer-inner {
        flex-direction: column;
    }
    #footer-left {
        width: 100%;
        padding: 0vw;
        gap: 2vw;
    }
    #footer-right {
        width: 100%;
        border-left: none;
        margin-top: 5vw;
        flex-wrap: wrap;
    }
    #ftr-left {
        width: 90vw;
        text-align: center;
    }
    #ftr-right {
        width: 90vw;
        text-align: center;
    }
    #ftr-btm-inner {
        flex-direction: column;
        gap: 1vw;
    }
    div#ftr-btm-left ul {
        display: flex;
        gap: 2vw;
    }
    #footer-left p {
        font-size: var(--font-para);
    }
    .cf-heading h2 {
        font-size: var(--font-btnhead);
    }
    form input {
        height: 7vw;
        font-size: var(--font-para);
    }
    textarea {
        font-size: var(--font-para);
    }
    #ftr-left h2 {
        font-size: var(--font-sechead);
    }
    #ftr-right h2 {
        font-size: var(--font-sechead);
    }

}


/* Mobile screen responsive 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header-center {
        position: absolute;
        top: 5vw;
        right: 0;
        width: 30%;
        background: var(--color-m-white);
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        z-index: 999;
    }
    .header-center ul {
        flex-direction: column;
        gap: 1vw;
    }
    .hamburger {
        display: block; 
    }
    .header-center ul li a {
        font-size: var(--font-navbtn);
    }
    .header-center.active {
        display: flex; 
    }    
    .header-right {
        display: none;
    }
    #hs-inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .head-inner {
        height: 8vw;
    }
    #hsl {
        width: 100%;
    }
    #hsl p {
        width: 80%;
    }
    #btn-1 {
        padding: 1vw 1vw;
    }
    #icon i {
        font-size: var(--font-para);
    }
    #icon {
        width: 5.3vw;
        height: 5vw;
    }
    #dot {
        width: 2vw;
        height: 2vw;
    }
    #hsr {
        width: 100%;
        margin: 10vw 0 0 0;
    }
    #clr-box-hsr {
        width: 75vw;
        height: 75vw;
    }
    #round-box {
        position: absolute;
        top: 5vw;
        right: 9vw;
        width: 16vw;
        height: 16vw;
        border-radius: 100px;
    }
    .hs-box {
        width: 8vw;
        height: 8vw;
    }
    .hs-font-size {
        font-size: 3vw;
    }
    #location-aero-top {
        top: 15vw;
        right: 66vw;
    }
    #text-top {
        width: 28vw;
        height: 5vw;
    }
    #hsr-img img {
        width: 67vw;
        bottom: 0vw;
        right: 13vw;
    }
    #text-bottom {
        width: 26vw;
        height: 5vw;
    }
    #location-aero-bottom {
        top: 45vw;
        left: 65vw;
    }
    #sec-1 {
        width: 100%;
        margin: 10vw 0;
    }
    #sec-2-inner h3 {
        font-size: var(--font-btnhead);
    }
    #sec-2-card-inner {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .s2ci-card {
        width: 49.4%;
        height: 60vw;
    }
    .card-1:hover .icon {
        padding: 1.7vw 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-1:hover .icon {
        border-radius: 80px;
    }
    #allrounder-btn {
        width: 28vw;
        padding: 3vw 0.5vw 3vw 1.5vw;
    }
    #allrounder-btn a {
        font-size: var(--font-para);
    }
    .btn-width {
        width: 33vw;
    }
    p#card-para, .icon {
        font-size: var(--font-para);
    }
    .cardbtm-icon {
        width: 6vw;
    }
    div#card-hdng h2 {
        font-size: var(--font-btnhead);
    }
    .fa-solid, .fas {
        font-size: var(--font-sechead);
    }
    .card-1 {
        padding: 5vw;
    }
    #card-num h2 {
        font-size: var(--font-btnhead);
    }
    #sec-3-content {
        flex-direction: column;
        padding: 5vw 0;
    }
    #sec-3-left {
        width: 100%;
        height: 68vw;
    }
    #sec3l-circle {
        width: 80%;
        height: 68vw;
        border-radius: 350px 350px 110px 130px;
    }
    #sec-3-right {
        width: 100%;
    }
    #sec3l-circle img {
        width: 56.5vw;
    }
    #sec-3-right p {
        font-size: var(--font-para);
    }
    .wts {
        width: 40vw;
    }
    #portfolio-card {
        margin-top: 5vw;
    }
    .ps1 {
        flex-direction: row;
    }
    .ps2 {
        flex-direction: row;
    }
    .cards {
        width: 44vw;
        height: 25vw;
    }
    .card1-text {
        height: 5vw;
        font-size: var(--font-navbtn);
    }
    #sec5-card-box {
        flex-wrap: wrap;
    }
    .s5-box-1 {
        width: 90vw;
    }
    .s5-box1-arow {
        display: flex;
        justify-content: flex-end;
    }
    .ara-btn-aero {
        width: 5vw;
        height: 5vw;
    }
    .s5-box-2 {
        width: 44.5vw;
    }
    .s5-box2-img {
        border-radius: 15px;
    }
    .s5-box1-ta {
        padding: 0 1vw;
    }
    .s5-box-3 {
        width: 44.5vw;
    }
    .s5-box2-img img {
        height: 60vw;
    }
    .s5-box2-arow {
        display: flex;
        justify-content: flex-end;
    }
    #s5-box1-text h2 {
        font-size: var(--font-navbtn);
    }
    #s5-box2-text h2 {
        font-size: var(--font-navbtn);
    }
    #sec-6-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .s6b-left {
        width: 100%;
        margin-top: 5vw;
    }
    .s6b-right {
        width: 100%;
        margin-top: 7vw;
    }
    .fname, .lname {
        width: 100%;
    }
    .message {
        width: 100%;
    }
    #box-1 {
        height: 2.5vw;
    }
    .s6b-left p {
        font-size: var(--font-para);
    }
    .s6b-left p {
        padding: 0;
    }
    .content-box {
        padding-top: 2vw;
    }
    .mb-ib {
        width: 8vw;
        height: 8vw;
    }
    .mb-ib img {
        width: 87px;
    }
    #footer-inner {
        flex-direction: column;
    }
    #footer-left {
        width: 100%;
        padding: 0vw;
        gap: 2vw;
    }
    #footer-right {
        width: 100%;
        border-left: none;
        margin-top: 5vw;
        flex-wrap: wrap;
    }
    #ftr-left {
        width: 43vw;
        text-align: center;
    }
    #ftr-right {
        width: 43vw;
        text-align: center;
    }
    #ftr-btm-inner {
        flex-direction: column;
        gap: 1vw;
    }
    #ftr-btm-left ul li a {
        font-size: 30px;
    }
    div#ftr-btm-left ul {
        display: flex;
        gap: 2vw;
    }
    #footer-left p {
        font-size: var(--font-para);
    }
    .cf-heading h2 {
        font-size: var(--font-btnhead);
    }
    form input {
        height: 7vw;
        font-size: var(--font-para);
    }
    textarea {
        font-size: var(--font-para);
    }
    #ftr-left h2 {
        font-size: var(--font-sechead);
    }
    #ftr-right h2 {
        font-size: var(--font-sechead);
    }
    div#ftr-btm-right p {
        font-size: var(--font-navbtn);
    }
    #namenoman {
        font-size: var(--font-btnhead);
    }



}