:root{
    /* colors */
    --color-primary: #ff5314;
    --color-secondary: #000;
    --color-accent: #fff;
    --color-text: #202529;
    --color-m-white: #f7f9fa;

    /* width pallete */
    --container-full: 100%;
    --container: 90vw;
    --container-half: 50vw;

    /* font pallete */
    --font-mainhead: calc(1.8rem + 1vw);
    --font-navbtn: calc(0.8rem + 0.3vw);
    --font-sechead: calc(1.2rem + 0.7vw); 
    --font-btnhead: calc(0.9rem + 0.6vw);  
    --font-para: calc(0.6rem + 0.5vw);



    
}



/* Mobile screen responsive 767px */
@media screen and (max-width: 768px) {
    .header-center {
        position: absolute;
        top: 5vw;
        right: 0;
        width: 25%;
        background: var(--color-m-white);
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        z-index: 999;
    }
    .header-center ul {
        flex-direction: column;
        gap: 1vw;
    }
    .hamburger {
        display: block; 
    }
    .header-center.active {
        display: flex; 
    }    
    .header-right {
        display: none;
    }
    #hs-inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .head-inner {
        height: 8vw;
    }
    #hsl {
        width: 100%;
    }
    #hsl p {
        width: 80%;
    }
    #btn-1 {
        padding: 1vw 3vw;
    }
    #icon i {
        font-size: var(--font-para);
    }
    #icon {
        width: 5.3vw;
        height: 5vw;
    }
    #dot {
        width: 2vw;
        height: 2vw;
    }
    #hsr {
        width: 100%;
        margin: 10vw 0 0 0;
    }
    #clr-box-hsr {
        width: 75vw;
        height: 75vw;
    }
    #round-box {
        position: absolute;
        top: 5vw;
        right: 9vw;
        width: 16vw;
        height: 16vw;
    }
    .hs-box {
        width: 8vw;
        height: 8vw;
    }
    .hs-font-size {
        font-size: 3vw;
    }
    #location-aero-top {
        top: 15vw;
        right: 67vw;
    }
    #text-top {
        width: 25vw;
        height: 5vw;
    }
    #hsr-img img {
        width: 67vw;
        bottom: 0vw;
        right: 13vw;
    }
    #text-bottom {
        width: 25vw;
        height: 5vw;
    }
    #location-aero-bottom {
        top: 45vw;
        left: 66vw;
    }
    #sec-1 {
        width: 100%;
        margin: 10vw 0;
    }
    #sec-2-inner h3 {
        font-size: var(--font-btnhead);
    }
    #sec-2-card-inner {
        flex-direction: column;
    }
    .s2ci-card {
        width: 100%;
        height: 60vw;
    }
    .card-1:hover .icon {
        padding: 1.2vw 2.2vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #allrounder-btn a {
        font-size: var(--font-para);
    }
    .btn-width {
        width: 33vw;
    }
    p#card-para, .icon {
        font-size: var(--font-para);
    }
    .cardbtm-icon {
        width: 6vw;
    }
















}
