/* Mobile screen responsive 767px */
@media screen and (max-width: 768px) {
    .header-center {
        position: absolute;
        top: 5vw;
        right: 0;
        width: 25%;
        background: var(--color-m-white);
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        z-index: 999;
    }
    .header-center ul {
        flex-direction: column;
        gap: 1vw;
    }
    .hamburger {
        display: block; 
    }
    .header-center.active {
        display: flex; 
    }    
    .header-right {
        display: none;
    }
    #hs-inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .head-inner {
        height: 8vw;
    }
    #hsl {
        width: 100%;
    }
    #hsl p {
        width: 80%;
    }
    

















}
